*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --c1:#C93B76;
    --c2:#212936;
    --c3:#4D5562;
    --c4:#E5E7EB;
    --c5:#121826a6; 
}
body{
    background-image: url(./assets/gradient-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:140px 0px;
}
main{
    background-color: var(--c2);
    display: flex;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
}
img{
    width: 100%;
    max-width: 288px;
    max-height: 306px;
    margin: auto;
    border-radius: 10px;
}
h1, p, span{
    font-family: "Sora", sans-serif;
}
h1{
    color: var(--c4);
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
    font-weight: 500;
}
p, span{
    color: var(--c3);
}
p{
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
}
#tempos{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
span{
    font-size: 10px;
    margin-bottom: 1px;
}
#barra_progresso_total{
    background-color: var(--c4);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
#barra_progresso_atual{
    margin-top: -4px;
    background-color:var(--c1);
    width: 0%;
    height: 4px;
    border-radius: 2px;
}
#selecionar_tempo{
    background-color:var(--c1);
    width: 8px;
    height: 8px;
    border: 1px solid var(--c4);
    margin-top: -6px;
    margin-left: -4px;
}
#controles{
    margin-top:20px;
    display: flex;
    justify-content: center;
    gap: 18px;
}
button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    line-height: 1;
    display: flex;
}

button img{
    filter: var(--c1);
    border-radius: 50%;
    width: 32px;
}

#image_play{
    background-color: var(--c1);    
}

button:hover{
    background-color: var(--c5);  
    border: var(--c1) 1px solid;  
    filter: drop-shadow(0px 0px 2px var(--c1));
}
#play{
    background-color: var(--c1);
    filter: drop-shadow(0px 0px 2px rgba(201, 59, 118, 0.25));
}
#play:hover{
    filter: drop-shadow(0px 0px 2px var(--c1));
}
