*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --c1:#C93B76;
    --c2:#212936;
    --c3:#4D5562;
    --c4:#E5E7EB;
    --c5:#121826a6; 
}
body{
    background-image: linear-gradient(30deg,var(--c1),var(--c2));
    width: 100%;
    min-height: 600px;/*adicionado apenas para o ambiente especifico que estou visualizando*/
    height: 100vh; /*adicionado apenas para o ambiente especifico que estou visualizando*/
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: var(--c2);
    display: flex;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
}
img{
    width: 288px;
    height: 306px;
    margin: auto;
    border-radius: 10px;
}
h1, p, span{
    font-family: "Sora", sans-serif;
}
h1{
    color: var(--c4);
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
    font-weight: 500;
}
p, span{
    color: var(--c3);
}
p{
    
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
}
#tempos{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
span{
    font-size: 10px;
}
#barra_progresso_total{
    background-color: var(--c4);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
#barra_progresso_atual{
    margin-top: -4px;
    background-color:var(--c1);
    width: 60%;
    height: 4px;
    border-radius: 2px;
}

